@media (max-width: 1199px){
    .animBox .yo-card_cont {
        padding: 5px;
    }
    .animBox .yo-card_text {
        min-height: 125px;
    }

    .companySlider .contentBox {
        width: 100%;
        float: none;
    }
    .companySlider .imgBox {
        width: 100%;
        float: none;
    }
    .qualityBox h2 span i {
        font-size: 10px;
    }
    .comissionBox ul li span {
        font-size: 16px;
    }
    .comissionBox ul li h2 {
        font-size: 11px;
        margin: 8px 0;
    }

/*||||||||||||||||||||||||||||||||||||||||||||||||||||providers-listing|||||||||||||||||||||||||||||||||||||||||||||||*/

    .listingLeft .title {
        font-size: 33px;
    }
    .listingLeft .listingItem .listingItemImg {
        width: 16%;
    }
    .sponsoredResult ul li h2, .listingRight form ul li h2 {
        font-size: 11px;
    }
    .sponsoredResult ul li span {
        font-size: 16px;
    }
    .listingRight form {
        margin: 47px 0 20px;
    }

/*||||||||||||||||||||||||||||||||||||||||||||||||||||applications||||||||||||||||||||||||||||||||||||||||||||||||||||*/

    .applicationsBox .appMiddle, .applicationsBox .appRight {
        width: 32%;
    }
    .applicationsBox .appLeft{
        width: 34%;
    }

/*||||||||||||||||||||||||||||||||||||||||||||||||||||profile-fill-2|||||||||||||||||||||||||||||||||||||||||||||||*/

    .chosen-container-multi .chosen-choices li.search-choice .search-choice-close{
        background-image: url(../images/chosen-sprite.png) !important;
    }

/*||||||||||||||||||||||||||||||||||||||||||||||||||||service-provider|||||||||||||||||||||||||||||||||||||||||||||||*/

    .serviceMain .applicationsSearch {
        width: 70%;
    }
    .serviceBox .serviceFirst{
        padding: 0 10px;
    }
    .serviceBox .serviceFirst h2 {
        font-size: 16px;
    }

/*||||||||||||||||||||||||||||||||||||||||||||||||||||AFFILIATE||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

    .affiliteHome .title {
        font-size: 16px;
    }
}



@media (max-width: 991px){
    .affiliate-features_i{
        margin: 0 0 20px;
    }
    .main-details_img {
        top: 0 !important;
        position: relative;
        right: 0 !important;
        left: 0 !important;
        text-align: center;
    }
    .main-details_cont:before{
        display: none;
    }
    .animBox {
        margin-bottom: 50px;
    }
    .animBox .yo-card_text {
        min-height: inherit;
    }
    .signUpInfo .emailDecor {
        font-size: 24px;
        padding-top: 100px;
    }
    .userIn {
        padding: 0;
    }
    .top-user_name {
        float: none;
    }
    .userMenu {
        float: none;
        display: block;
    }
    .navbar-default .navbar-collapse{
        overflow: visible;
        padding: 0;
    }
    .chatUsersList li {
        padding: 5px;
    }
    .chatUsersList li img,
    .chatBoxFill .lastMessage img,
    .chatBoxFill .messageSended img,
    .chatBoxFill .messageTyping img{
        width: 30px;
    }
    .chatUsersList li h2 {
        font-size: 12px;
        margin: 7px 0;
    }
    .chatBoxFill .lastMessage h3,
    .chatBoxFill .messageSended h3{
        padding: 0 0 0 40px;
    }
    .chatBoxFill .lastMessage h2,
    .chatBoxFill .messageSended h2{
        margin: 0;
        font-size: 13px;
    }
    .chatBoxFill .messageTyping h2{
        margin: 9px 0 0 0;
    }
    .chatBoxFill {
        padding: 10px;
    }
    .chatBox {
        width: 73%;
    }
    .chatBox .chatTextBox textarea {
        width: 100%;
        min-height: 130px;
    }
    .chatUsersList li h2 span {
        font-size: 12px;
    }


    .companyLeftBox {
        margin-bottom: 50px;
    }
    .askCompany {
        margin: 50px auto;
    }

    /*||||||||||||||||||||||||||||||||||||||||||||||||||||providers-listing|||||||||||||||||||||||||||||||||||||||||||||||*/

    .listingLeft, .listingRight {
        width: 100%;
        float: none;
    }
    .listPagination {
        margin: 20px 0;
    }
    .listingRight form {
        margin: 20px 0 20px;
    }
    .listingRight form ul li h2 {
        font-size: 14px;
    }
    .advertisingBox {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 10;
        width: 100px;
        margin: 0 auto;
        overflow: hidden;
    }
    .slidBox3{
        animation: slide3 20s ease-in-out infinite;
        -webkit-animation: slide3 20s ease-in-out infinite;
        -moz-animation: slide3 20s ease-in-out infinite;
        -o-animation: slide3 20s ease-in-out infinite;
        position: relative;
        width: 300px;
    }
    .slidBox2{
        animation: slide2 20s ease-in-out infinite;
        -webkit-animation: slide2 20s ease-in-out infinite;
        -moz-animation: slide2 20s ease-in-out infinite;
        -o-animation: slide2 20s ease-in-out infinite;
        position: relative;
        width: 200px;
    }
    .listingRight .advertisingBox img{
        margin: 0;
    }
    .slidBox img{
        width: 100px !important;
        float: left;
    }

    .listingRight .advertisingBox h2{
        font-size: 13px;
        text-align: center;
        color: #000;
    }
    .listingPopupWrap {
        width: 700px;
    }

    /*||||||||||||||||||||||||||||||||||||||||||||||||||||profile-fill-2|||||||||||||||||||||||||||||||||||||||||||||||*/

    #modal-company-profile .modal-sm,
    .modal-content{
        width: 740px;
    }
    .labels-left .form-error, .sub-form .fieldset.hor label  {
        width: 100%;
        text-align: center;
    }
    .sub-form .fieldset input[type=text] {
        width: 100%;
    }
    .sub-form .grid2col .fieldset .offset150[type=text] {
        width: 155px;
    }

    /*||||||||||||||||||||||||||||||||||||||||||||||||||||merchant-home|||||||||||||||||||||||||||||||||||||||||||||||*/

    .appRight.merchantRight {
        width: 52% ;
    }

}



@media (max-width: 767px){
    .navbar-collapse{
        display: none;
    }
    .navbar-right{
        float: right;
        margin-right: 5px !important;
    }
    .mobLoginON{
        display: block;
    }
    .mobLoginOFF{
        display: none;
    }
    .page-line_more-link {
        position: relative;
        top: 0;
        text-align: center;
        right: 0;
        margin-bottom: 10px;
        display: block;
    }
    .page-line_btn .yo-btn {
        width: 100%;
        box-sizing: border-box;
    }
    .page-line_add {
        text-align: center;
    }
    .company-profiles_i {
        float: none;
        width: 100%;
        height: auto;
        padding: 10px 5px;
    }
    .company-profiles_add {
        padding: 40px 0;
    }
    .navbar-nav > li > a {
        height: 35px;
        line-height: 35px;
        text-align: center;
    }
    .userIn {
        float: none;
        display: block;
        text-align: center;
        padding-bottom: 10px;
    }
    .userBell, .userMail{
        display: block;
        padding: 5px 0 15px;
    }
    .userBell .hiddenBox, .userMenuMore .hiddenBox, .userMail .hiddenBox {
        width: 100%;
        right: inherit;
        position: absolute;
        top: 25px;
        margin: 10px 0;
    }
    .hiddenBox:after, .hiddenBox:before {
        left: 50%;
    }
    .userMenuMore .hiddenBox{
        width: 150px;
    }
    .userMenuMore .hiddenBox:after, .userMenuMore .hiddenBox:before {
        left: 20%;
    }
    .navbar-nav {
        margin: 0;
    }
    .userMenu {
        width: 230px;
        margin: 0 auto;
    }
    .chatUsers {
        width: 100%;
        float: none;
        min-height: inherit;
        margin-bottom: 20px;
    }
    .chatBox {
        width: 100%;
        float: none;
    }
    .chatUsersList li.active:after{
        display: none;
    }


    .askCompany {
        width: 100%;
    }
    .companyLogo, .companyInfoLeft, .companyInfoRight{
        float: none;
        margin-right: 0;
        text-align: center;
    }
    .companyInfoBtn {
        margin: 25px auto 0;
    }
    .companyInfoLeft h2 {
        font-size: 40px;
    }
    .companyContent ul li a {
        font-size: 13px;
    }

/*||||||||||||||||||||||||||||||||||||||||||||||||||||providers-listing|||||||||||||||||||||||||||||||||||||||||||||||*/

    .listingPopupWrap {
        width: 100%;
    }

/*||||||||||||||||||||||||||||||||||||||||||||||||||||applications||||||||||||||||||||||||||||||||||||||||||||||||||||*/

    .applicationsBox .appMiddle, .applicationsBox .appRight {
        width: 100%;
        margin: 20px 0;
        text-align: center;
    }
    .appContent .listingItem {
        width: 100%;
    }
    .applicationsBox .appLeft {
        width: 100%;
        text-align: center;
    }
    .appContent .appUpload {
        width: 100%;
        margin: 0 0 20px;
    }

    /*||||||||||||||||||||||||||||||||||||||||||||||||||||profile-fill-2|||||||||||||||||||||||||||||||||||||||||||||||*/

    #modal-company-profile .modal-sm,
    .modal-content{
        width: 460px;
    }
    #modal-company-profile .fieldset .label-bold, .labels-left .fieldset .form-control-material {
        display: block;
        text-align: center;
        width: 100%;
    }
    .labels-left .form-notice .badge-green-square {
        line-height: inherit;
    }
    .labels-left .form-notice {
        text-align: center;
        display: block;
    }
    #modal-company-profile .fieldset.fullw .label-bold {
        text-align: left;
    }
    .trafficTable td,
    .trafficTable tr{
        width: 100%;
        display: block;
        margin: 0 0 20px;
    }
    #modal-company-profile .fieldset.checkbox-labeled .label-bold {
        text-align: center;
    }
    #modal-company-profile .fieldset.checkbox-labeled {
        text-align: center;
    }
    .checkbox-yn.pull-right{
        float: none !important;
    }
    .hiddenBox ul li a h2 {
        text-align: left;
    }
    .hiddenBox ul li a span {
        width: 15%;
    }

/*||||||||||||||||||||||||||||||||||||||||||||||||||||service-provider|||||||||||||||||||||||||||||||||||||||||||||||*/
    .serviceBox .serviceFirst,
    .serviceBox .serviceSecond,
    .serviceBox .serviceThird,
    .serviceBox .serviceFourth{
        display: block;
        text-align: center;
        margin: 10px 0 0;
    }
    .serviceBox .serviceIco{
        text-align: center;
    }
    .serviceBox .serviceFirst h2 {
        margin: 0 0 10px;
    }
    .serviceQuestions ul, .serviceQuestions {
        text-align: center;
    }
    .serviceMain .applicationsSearch {
        width: 57%;
    }

/*||||||||||||||||||||||||||||||||||||||||||||||||||||AFFILIATE||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

    .affiliteHome table {
        width: 100%;
        border-collapse: collapse;
    }
    /* Zebra striping */
    .affiliteTable tr:nth-of-type(odd) {
        background: #eee;
    }
    .affiliteHome th {
        background: #333;
        color: white;
        font-weight: bold;
    }
    .affiliteHome td, .affiliteHome th {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }
    .affiliteTable table, .affiliteTable thead, .affiliteTable tbody, .affiliteTable th, .affiliteTable td, .affiliteTable tr {
        display: block;
    }
    .affiliteTable tbody tr:first-child{
        display: none !important;
    }
    .affiliteTable tr { border: 1px solid #ccc; }
    .affiliteTable td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding-left: 40%;
    }
    .affiliteTable td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    .affiliteTable td:nth-of-type(1):before { content: "Date registered"; }
    .affiliteTable td:nth-of-type(2):before { content: "URL"; }
    .affiliteTable td:nth-of-type(3):before { content: "Applications Submitted"; }
    .affiliteTable td:nth-of-type(4):before { content: "Applications Accepted"; }

    .affiliteTable tr td:first-child, .affiliteTable tr td:nth-child(3), .affiliteTable tr td:nth-child(4) {
        width: auto;
    }
    .affiliteTable td:first-child, .affiliteTable th:first-child,
    .affiliteTable td:nth-child(2), .affiliteTable th:nth-child(2),
    .affiliteTable td:nth-child(3), .affiliteTable th:nth-child(3){
        border-right: none;
    }


    .affiliteHome .trackingBox {
        display: block;
        padding: 5px;
    }
    .affiliteHome .trackingBox h2 {
        display: block;
        text-align: center;
        margin: 0 0 5px;
    }
    .affiliteHome .trackingBox h3 {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .affiliteHome .trackingBox button {
        display: block;
        margin: 0 auto;
    }
    .listingLeft .title {
        font-size: 14px;
    }

/*||||||||||||||||||||||||||||||||||||||||||||||||||||AFFILIATE-report|||||||||||||||||||||||||||||||||||||||||||||||||*/

    .affiliteReporting .dataTable thead{
        display: none;
    }
    .affiliteReporting .dataTable tr td:first-child, .affiliteReporting .dataTable tr td:nth-child(3), .affiliteReporting .dataTable tr td:nth-child(4) {
        width: auto;
        text-align: left;
    }
    .affiliteReporting .dataTable td:nth-of-type(3):before {
        content: "Commission (EURO)";
        text-align: left;
    }
    .affiliteReporting .dataTable td:before{
        font-weight: bold;
        color: #000;
    }
    .affiliteReporting .dataTables_wrapper .dataTables_filter {
        float: none;
    }
    .affiliteReporting .dataTable tfoot td:before{
        display: none;
    }
    .affiliteReporting .dataTable tfoot td{
        text-align: center !important;
        padding: 0 !important;
    }
}


@media (max-width: 600px){
/*||||||||||||||||||||||||||||||||||||||||||||||||||||providers-listing|||||||||||||||||||||||||||||||||||||||||||||||*/
    .listingLeft .title {
        font-size: 22px;
        line-height: 53px;
    }

/*||||||||||||||||||||||||||||||||||||||||||||||||||||AFFILIATE||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

    .affiliteTable td:before {
        left: 0;
        text-align: center;
        right: 0;
        font-weight: bold;
        width: 100%;
        padding-right: 10px;
    }
    .affiliteTable td {
        padding: 28px 0 0;
        text-align: center;
    }
    .affiliteTable tr td:nth-child(2) {
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 260px;
        margin: 0 auto;
    }

/*||||||||||||||||||||||||||||||||||||||||||||||||||||AFFILIATE-report|||||||||||||||||||||||||||||||||||||||||||||||||*/

    .affiliteReporting .dataTable tr td:first-child,
    .affiliteReporting .dataTable td:nth-of-type(3):before,
    .affiliteReporting .dataTable tr td:nth-child(3),
    .affiliteReporting .dataTable tr td:nth-child(4) {
        text-align: center;
    }
}


@media (max-width: 480px){
    .navbar-header{
        width: 100%;
        margin: 0 !important;
    }
    .affiliate-join_text {
        font-size: 16px;
    }
    .affiliate-join_head {
        font-size: 34px;
    }
    .yo-btn {
        white-space: normal;
    }
    .header .navbar-brand-logo {
        width: 100px;
    }
    .navbar-brand.navbar-brand-logo img {
        width: 100% !important;
    }
    .main .main-details .main-details_img img {
        width: 100%;
    }
    .main-lead_block .main-lead_head {
        font-size: 30px;
    }
    .yo-card_cont {
         font-size: 13px;
    }
    .yo-btn {
        font: 700 16px/22px 'ProximaNova', Arial, sans-serif;
    }
    .company-profiles_list {
        padding: 0;
    }
    .yo-card_cont {
        padding: 15px;
    }
    .company-profiles_cont {
        padding: 10px;
    }
    .top-user_name {
        font-size: 28px;
    }
    .yo-card_head_title {
        font-size: 40px;
    }
    .yo-card_head_sub {
        font-size: 20px;
    }
    .yo-card__register2 .yo-card_text{
        border: none;
        margin: 0;
    }
    .page-head {
        font-size: 38px;
    }
    .userMenu {
        display: block;
        float: none;
        text-align: center;
    }
    .userMenu {
        width: 160px;
        margin: 0 auto;
    }
    .userMenu ul li {
        float: none;
    }
    .userMenuMore .hiddenBox:after, .userMenuMore .hiddenBox:before {
        left: 50%;
    }
    .userMenuMore .hiddenBox{
        top: 35px;
    }
    .messageSend {
        display: block;
        width: 97%;
        margin: 5px auto;
        position: relative;
        right: 0;
        top: 0;
    }
    .chatBox .chatTextBox textarea {
        padding: 10px 30px 10px 10px;
    }
    .chatTextBoxFile {
        right: 2px;
        top: 10px;
    }
    .tooltipHidden {
        position: absolute;
        left: 0;
        right: 0;
        width: 260px;
        margin: 0 auto;
    }
    .tooltipHidden:after, .tooltipHidden:before{
        display: none;
    }


    .copyLink {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }
    .fileBox table tr th, .fileBox table tr td:nth-child(1){
        padding: 5px 0 5px 5px;
    }
    .fileBox table, .fileBox thead, .fileBox tbody, .fileBox th, .fileBox td, .fileBox tr {
        display: block;
    }
    .fileBox thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .fileBox tr { border: 1px solid #ccc; }
    .fileBox td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    .fileBox td:before {
        position: absolute;
        top: 0;
        left: 6px;
        padding-right: 10px;
        white-space: nowrap;
    }
    .fileBox td:nth-of-type(1):before { content: "Name"; text-align: left; }
    .fileBox td:nth-of-type(2):before { content: "Modified"; text-align: left; }
    .fileBox td:nth-of-type(3):before { content: "Shared with"; text-align: left; }

    .fileBox table tr:first-child{
        display: none;
    }
    .fileBox table tr td{
        width: 100% !important;
        text-align: right;
        overflow: hidden;
    }
    .fileBox table tr td:nth-child(1) {
        padding: 0;
    }


/*||||||||||||||||||||||||||||||||||||||||||||||||||||providers-listing|||||||||||||||||||||||||||||||||||||||||||||||*/

    .listingLeft .listingItem .listingItemImg {
        width: 35%;
        float: none;
        margin: 0 auto 10px;
    }
    .listingLeft .sponsoredResult {
        width: 100%;
        float: none;
        margin: 10px 0;
    }
    .listingLeft .listingItemInfo h2 {
        text-align: center;
    }
    .listingRight form ul li h2 {
        font-size: 10px;
    }
    .listPagination > li:first-child a, .listPagination > li:last-child a {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 27px;
    }
    .listPagination li .dropdown-menu li a, .listPagination li a {
        font-size: 14px;
    }
    .listingLeft .sortBox {
        float: none;
        text-align: center;
        font-size: 15px;
    }
    .listingLeft .title {
        font-size: 20px;
        line-height: normal;
    }

/*||||||||||||||||||||||||||||||||||||||||||||||||||||applications||||||||||||||||||||||||||||||||||||||||||||||||||||*/

    .sponsoredResult {
        width: 100%;
        float: none;
    }
    .appWrap h2 {
        font-size: 20px;
    }
    .appWrap h3 {
        font-size: 15px;
    }
    .appWrap ul li {
        padding: 5px;
    }
    .appWrap ul li h2 {
        font-size: 12px;
    }
    .appWrap ul li div {
        font-size: 10px;
    }
    .appWrap ul li div span {
        font-size: 13px;
    }

    /*||||||||||||||||||||||||||||||||||||||||||||||||||||profile-fill-2|||||||||||||||||||||||||||||||||||||||||||||||*/

    #modal-company-profile .modal-sm,
    .modal-content{
        width: 310px;
    }
    .nav > li > a {
        padding: 10px 11px;
    }
    .fieldset .label-bold, .labels-left .fieldset .form-control-material {
        display: block;
        width: 100%;
        text-align: center;
    }
    .company-logo {
        display: block;
        border: none;
        padding: 0;
        text-align: center;
    }
    .company-logo img{
        padding: 4px;
        border: 1px solid #EEE;
    }
    .labels-left .fieldset .form-control-material .form-control {
        width: 100%;
    }
    #modal-company-profile .fieldset.cols2to6 .label-bold {
        float: none;
        width: 100%;
        text-align: center;
    }
    #modal-company-profile .fieldset.cols2to6 .form-control-material-select {
        margin-left: 0;
    }
    #modal-company-profile .sub-form .fieldset .label-bold {
        float: none;
    }
    .sub-form .grid2col .fieldset .offset150[type=text] {
        margin-left: 0;
        width: 100%;
        display: block;
    }
    .trafficTable tbody{
        display: block;
    }
    #modal-company-profile .sub-form .fieldset .label-bold {
        text-align: center;
    }

/*||||||||||||||||||||||||||||||||||||||||||||||||||||profile-fill-2|||||||||||||||||||||||||||||||||||||||||||||||*/

    .serviceMain .applicationsSearch {
        width: 100%;
    }
    .sortBox {
        display: block;
        text-align: right;
        float: none;
    }
    .serviceMain .nav > li > a {
        font-size: 12px;
        padding: 10px;
    }
    .serviceQuestions h2 {
        font-size: 11px;
    }

/*||||||||||||||||||||||||||||||||||||||||||||||||||||FAQ|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

    .FAQBox .nav > li > a {
        font-size: 15px;
    }
    .FAQBox .tab-content{
        padding: 0;
    }
    .FAQBox .panel-title > a{
        font-size: 14px;
        padding: 5px;
    }
    .FAQBox .panel-body{
        font-size: 13px;
        padding: 5px;
    }

/*||||||||||||||||||||||||||||||||||||||||||||||||||||AFFILIATE||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

    .affiliteHome .title {
        font-size: 12px;
    }
}


