@import url('http://fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en');
.paper-shadow:not(.navbar) {
  z-index: 1;
}
.paper-shadow:before,
.paper-shadow:after {
  border-radius: inherit;
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  display: block;
  z-index: -1;
}
.paper-shadow[data-animated]:before,
.paper-shadow[data-animated]:after {
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.paper-shadow[data-z="1"]:before,
.paper-shadow[data-hover-z="1"]:hover:before {
  box-shadow: none;
}
.paper-shadow[data-z="1"]:after,
.paper-shadow[data-hover-z="1"]:hover:after {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}
.paper-shadow[data-z="0.5"]:before,
.paper-shadow[data-hover-z="0.5"]:hover:before {
  box-shadow: none;
}
.paper-shadow[data-z="0.5"]:after,
.paper-shadow[data-hover-z="0.5"]:hover:after {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
}
.paper-shadow[data-z="2"]:before,
.paper-shadow[data-hover-z="2"]:hover:before {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.paper-shadow[data-z="2"]:after,
.paper-shadow[data-hover-z="2"]:hover:after {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}
.paper-shadow[data-z="3"]:before,
.paper-shadow[data-hover-z="3"]:hover:before {
  box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19);
}
.paper-shadow[data-z="3"]:after,
.paper-shadow[data-hover-z="3"]:hover:after {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3);
}
.paper-shadow[data-z="4"]:before,
.paper-shadow[data-hover-z="4"]:hover:before {
  box-shadow: 0 14px 12px 0 rgba(0, 0, 0, 0.17);
}
.paper-shadow[data-z="4"]:after,
.paper-shadow[data-hover-z="4"]:hover:after {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3);
}
.paper-shadow[data-z="5"]:before,
.paper-shadow[data-hover-z="5"]:hover:before {
  box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}
.paper-shadow[data-z="5"]:after,
.paper-shadow[data-hover-z="5"]:hover:after {
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3);
}
.media.media-paper-shadow {
  overflow: visible;
}
.media.media-paper-shadow > .media-body {
  overflow: visible;
}
.paper-shadow.panel {
  position: relative;
}
.btn {
  text-transform: uppercase;
}
.paper-fab {
  position: absolute;
  right: 16px;
  bottom: -23px;
  padding: 15px 21px;
  font-size: 17px;
  border-radius: 50%;
}
.btn-flat {
  border-color: transparent;
}
.cover.overlay + .paper-fab {
  z-index: 4;
}
.form-control-material {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #efefef;
  position: relative;
  box-shadow: none;
  padding: 16px 0 0;
  height: 48px;
}
.form-control-material label {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transition: all 0.2s ease;
  font-size: 1.23rem;
  font-weight: normal;
  height: 48px;
  line-height: 48px;
  margin: 0;
  display: block;
}
.form-control-material:not(.static) label {
  pointer-events: none;
}
.form-control-material .form-control {
  font-size: 1.23rem;
  border: none;
  line-height: 16px;
  background-color: transparent;
  padding: 3px 0 8px;
  box-shadow: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: auto;
}
.form-control-material .form-control::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form-control-material .form-control:-ms-input-placeholder {
  color: transparent;
}
.form-control-material .form-control::-webkit-input-placeholder {
  color: transparent;
}
.form-control-material textarea.form-control {
  line-height: 22px;
  height: 32px;
  padding: 3px 0 0;
}
.form-control-material .ma-form-highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.2;
}
.form-control-material .ma-form-bar {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: 0;
  left: 0;
}
.form-control-material .ma-form-bar:before,
.form-control-material .ma-form-bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: -1px;
  position: absolute;
  background: #42a5f5;
  transition: all 0.2s ease;
}
.form-control-material .ma-form-bar:before {
  left: 50%;
}
.form-control-material .ma-form-bar:after {
  right: 50%;
}
.form-control-material .form-control:focus::-moz-placeholder,
.form-control-material.static .form-control::-moz-placeholder {
  color: #cccccc;
  opacity: 1;
}
.form-control-material .form-control:focus:-ms-input-placeholder,
.form-control-material.static .form-control:-ms-input-placeholder {
  color: #cccccc;
}
.form-control-material .form-control:focus::-webkit-input-placeholder,
.form-control-material.static .form-control::-webkit-input-placeholder {
  color: #cccccc;
}
.form-control-material.static .form-control ~ label {
  font-size: 1rem;
  top: -18px;
  cursor: pointer;
}
.form-control-material .form-control:focus ~ label,
.form-control-material .form-control.used ~ label {
  color: #42a5f5;
  font-size: 1rem;
  top: -18px;
}
.form-control-material .form-control:focus ~ .ma-form-highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
          animation: inputHighlighter 0.3s ease;
}
.form-control-material .form-control:focus ~ .ma-form-bar:before,
.form-control-material .form-control:focus ~ .ma-form-bar:after {
  width: 50%;
}
.form-control-material .input-group {
  position: initial;
  width: 100%;
}
.form-control-material .input-group label {
  left: 36px;
}
.form-control-material .input-group .input-group-addon {
  background-color: transparent;
  border: none;
  vertical-align: top;
  padding: 0;
  width: 36px;
  text-align: left;
  font-size: 1.23rem;
}
.form-control-material.required:after {
  color: #bd362f;
  content: "*";
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 0;
}
@-webkit-keyframes inputHighlighter {
  from {
    background: #42a5f5;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #42a5f5;
  }
  to {
    width: 0;
    background: transparent;
  }
}
.btn.dropdown-toggle,
.bootstrap-select {
  border: none;
  border-bottom: 1px solid #efefef;
  height: 48px;
  line-height: 48px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.23rem;
  color: #333333;
  background-color: transparent;
  font-weight: normal;
}
@media (min-width: 768px) {
  .dropdown-menu {
    margin: 0;
  }
  .dropdown-menu:before,
  .dropdown-menu:after {
    border-radius: inherit;
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    display: block;
    z-index: -1;
    box-shadow: none;
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.65s;
  }
  .open .dropdown-menu:before {
    box-shadow: none;
  }
  .open .dropdown-menu:after {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  }
}
.ripple {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  overflow: hidden;
}
.ripple .ink {
  display: block;
  position: absolute;
  border-radius: 100%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.ripple .ink.animate {
  -webkit-animation: rippleAnimation 0.65s linear;
          animation: rippleAnimation 0.65s linear;
}
.ripple .ink,
.ripple-light .ink {
  background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
}
.ripple-light-fade .ink {
  background: radial-gradient(rgba(255, 255, 255, 0.1) 0, rgba(255, 255, 255, 0.15) 40%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.25) 60%, rgba(255, 255, 255, 0) 70%);
}
.ripple-dark .ink {
  background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0) 70%);
}
.ripple-dark-fade .ink {
  background: radial-gradient(rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.15) 40%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.25) 60%, rgba(0, 0, 0, 0) 70%);
}
.ripple-primary .ink,
.list-group-menu > .list-group-item:not(.active) > .ripple .ink,
.dropdown-menu > li > .ripple .ink,
.navbar-nav > li > .ripple .ink {
  background: radial-gradient(rgba(66, 165, 245, 0.2) 0, rgba(66, 165, 245, 0.3) 40%, rgba(66, 165, 245, 0.4) 50%, rgba(66, 165, 245, 0.5) 60%, rgba(66, 165, 245, 0) 70%);
}
@-webkit-keyframes rippleAnimation {
  /* scale the element to 250% to safely cover the entire link and fade it out */
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}
@keyframes rippleAnimation {
  /* scale the element to 250% to safely cover the entire link and fade it out */
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}
.sidebar.sidebar-skin-material-blue {
  background: #ffffff;
}
.sidebar.sidebar-skin-material-blue.left {
  border-right: 1px solid #ffffff;
}
.sidebar.sidebar-skin-material-blue.right {
  border-left: 1px solid #ffffff;
}
.sidebar.sidebar-skin-material-blue .sidebar-link {
  color: #212121;
}
.sidebar.sidebar-skin-material-blue .sidebar-block {
  border-color: #ffffff;
}
.sidebar.sidebar-skin-material-blue .sidebar-text,
.sidebar.sidebar-skin-material-blue p {
  color: #757575;
}
.sidebar.sidebar-skin-material-blue .sidebar-heading,
.sidebar.sidebar-skin-material-blue .sidebar-heading > a {
  color: #ffffff;
}
.sidebar.sidebar-skin-material-blue .sidebar-brand {
  background-color: #ffffff;
  color: #ffffff;
}
.sidebar.sidebar-skin-material-blue .sidebar-brand:hover {
  text-decoration: none;
  color: #ffffff;
}
.sidebar.sidebar-skin-material-blue .btn-default {
  color: #ffffff;
  background-color: #3094e4;
  border-color: #3094e4;
}
.sidebar.sidebar-skin-material-blue .btn-default:hover,
.sidebar.sidebar-skin-material-blue .btn-default:focus,
.sidebar.sidebar-skin-material-blue .btn-default.focus,
.sidebar.sidebar-skin-material-blue .btn-default:active,
.sidebar.sidebar-skin-material-blue .btn-default.active,
.open > .dropdown-toggle.sidebar.sidebar-skin-material-blue .btn-default {
  color: #ffffff;
  background-color: #1a7ac7;
  border-color: #1975be;
}
.sidebar.sidebar-skin-material-blue .btn-default:active,
.sidebar.sidebar-skin-material-blue .btn-default.active,
.open > .dropdown-toggle.sidebar.sidebar-skin-material-blue .btn-default {
  background-image: none;
}
.sidebar.sidebar-skin-material-blue .btn-default.disabled,
.sidebar.sidebar-skin-material-blue .btn-default[disabled],
fieldset[disabled] .sidebar.sidebar-skin-material-blue .btn-default,
.sidebar.sidebar-skin-material-blue .btn-default.disabled:hover,
.sidebar.sidebar-skin-material-blue .btn-default[disabled]:hover,
fieldset[disabled] .sidebar.sidebar-skin-material-blue .btn-default:hover,
.sidebar.sidebar-skin-material-blue .btn-default.disabled:focus,
.sidebar.sidebar-skin-material-blue .btn-default[disabled]:focus,
fieldset[disabled] .sidebar.sidebar-skin-material-blue .btn-default:focus,
.sidebar.sidebar-skin-material-blue .btn-default.disabled.focus,
.sidebar.sidebar-skin-material-blue .btn-default[disabled].focus,
fieldset[disabled] .sidebar.sidebar-skin-material-blue .btn-default.focus,
.sidebar.sidebar-skin-material-blue .btn-default.disabled:active,
.sidebar.sidebar-skin-material-blue .btn-default[disabled]:active,
fieldset[disabled] .sidebar.sidebar-skin-material-blue .btn-default:active,
.sidebar.sidebar-skin-material-blue .btn-default.disabled.active,
.sidebar.sidebar-skin-material-blue .btn-default[disabled].active,
fieldset[disabled] .sidebar.sidebar-skin-material-blue .btn-default.active {
  background-color: #3094e4;
  border-color: #3094e4;
}
.sidebar.sidebar-skin-material-blue .btn-default .badge {
  color: #3094e4;
  background-color: #ffffff;
}
.sidebar.sidebar-skin-material-blue .form-control,
.sidebar.sidebar-skin-material-blue .form-control-default {
  background: #f5f5f5;
  border-color: #f5f5f5;
  color: #757575;
}
.sidebar.sidebar-skin-material-blue .list-group-menu .list-group-item {
  background: #f5f5f5;
  border-color: #ffffff;
}
.sidebar.sidebar-skin-material-blue .list-group-menu .list-group-item .badge {
  background: none;
  color: #a9a9a9;
}
.sidebar.sidebar-skin-material-blue .list-group-menu .list-group-item a {
  color: #212121;
}
.sidebar.sidebar-skin-material-blue .list-group-menu .list-group-item a:hover {
  color: #42a5f5;
}
.sidebar.sidebar-skin-material-blue .list-group-menu .list-group-item.active a {
  color: #2196f3;
}
.sidebar.sidebar-skin-material-blue .list-group-menu.primary .list-group-item {
  background: #2196f3;
  border-color: #2196f3;
}
.sidebar.sidebar-skin-material-blue .list-group-menu.primary .list-group-item a {
  color: #fff;
}
.sidebar.sidebar-skin-material-blue .list-group-menu.primary .list-group-item .badge {
  color: #fff;
}
.sidebar.sidebar-skin-material-blue .list-group-menu.primary .list-group-item.active {
  background: #1b93f3;
}
.sidebar.sidebar-skin-material-blue .sidebar-menu {
  border-color: #ffffff;
}
.sidebar.sidebar-skin-material-blue .sidebar-menu a:not([class]),
.sidebar.sidebar-skin-material-blue .sidebar-menu a[class=""],
.sidebar.sidebar-skin-material-blue .sidebar-menu a.collapsed {
  color: #212121;
}
.sidebar.sidebar-skin-material-blue .sidebar-menu i {
  color: #42a5f5;
}
.sidebar.sidebar-skin-material-blue .sidebar-menu li li i {
  color: #757575;
}
.sidebar.sidebar-skin-material-blue .sidebar-menu li li.active > a > i {
  color: #212121;
}
.sidebar.sidebar-skin-material-blue .sidebar-menu > li {
  border-color: #ffffff;
}
.sidebar.sidebar-skin-material-blue .sidebar-menu > li a:hover {
  color: #42a5f5;
}
.sidebar.sidebar-skin-material-blue .sidebar-menu > li.open > a,
.sidebar.sidebar-skin-material-blue .sidebar-menu > li > a:hover,
.sidebar.sidebar-skin-material-blue .sidebar-menu > li > a:focus,
.nav > .sidebar.sidebar-skin-material-blue .sidebar-menu > li.open > a,
.nav > .sidebar.sidebar-skin-material-blue .sidebar-menu > li > a:hover,
.nav > .sidebar.sidebar-skin-material-blue .sidebar-menu > li > a:focus {
  background: #ffffff;
}
.sidebar.sidebar-skin-material-blue .sidebar-menu li.hasSubmenu > a:before {
  color: #ebebeb;
}
.sidebar.sidebar-skin-material-blue .sidebar-menu li.active > a {
  color: #2196f3;
}
.sidebar.sidebar-skin-material-blue .sidebar-menu li.active > a i {
  color: #2196f3;
}
.sidebar.sidebar-skin-material-blue .sidebar-menu.sm-active-item-bg li.active > a {
  background: #3094e4;
  color: #ffffff;
}
.sidebar.sidebar-skin-material-blue .sidebar-menu.sm-active-item-bg li.active > a i {
  color: #ffffff;
}
.sidebar.sidebar-skin-material-blue .sidebar-menu.sm-active-item-bg li.active > a:before {
  color: #ffffff;
}
.sidebar.sidebar-skin-material-blue .sidebar-menu.sm-icons-block li > a i {
  background: #f5f5f5;
  font-size: 80%;
}
.sidebar.sidebar-skin-material-blue .sidebar-menu.sm-icons-block li.active > a i {
  background: #1b80d0;
  color: #ffffff;
}
.sidebar.sidebar-skin-material-blue .sidebar-menu li.open > ul {
  background: #fafafa;
  border-color: transparent;
}
.sidebar.sidebar-skin-material-blue .sidebar-menu li ul li.open > a {
  background: #e6e6e6;
}
.sidebar.sidebar-skin-material-blue .sidebar-menu li ul li.open > ul {
  background: #e8e8e8;
  border-color: transparent;
}
.sidebar.sidebar-skin-material-blue .sidebar-menu li ul li ul li.open {
  background: #f2f2f2;
}
.sidebar.sidebar-skin-material-blue .category {
  color: #757575;
}
.sidebar.sidebar-skin-material-blue hr {
  border-color: #ffffff;
}
.sidebar.sidebar-skin-material-blue .sidebar-feed li {
  color: #757575;
  background: #ffffff;
}
.sidebar.sidebar-skin-material-blue .sidebar-feed li:hover {
  background: #fcfcfc;
}
.sidebar.sidebar-skin-material-blue .sidebar-feed li:hover .media-object i {
  color: #2196f3;
}
.sidebar.sidebar-skin-material-blue .sidebar-feed li .media-body a {
  color: #ffffff;
}
.sidebar.sidebar-skin-material-blue .checkbox label {
  color: #212121;
}
.sidebar.sidebar-skin-material-blue .slider {
  color: #212121;
}
.sidebar.sidebar-skin-material-blue .slider .tooltip-inner {
  background: #ffffff;
}
.sidebar.sidebar-skin-material-blue .slider .tooltip-arrow {
  border-top-color: #ffffff;
}
.sidebar.sidebar-skin-material-blue .slider .slider-track {
  border: 1px solid #f2f2f2;
  background: #f2f2f2;
}
.sidebar.sidebar-skin-material-blue .slider .slider-handle {
  color: #2196f3;
}
.sidebar.sidebar-skin-material-blue .datepicker table thead tr {
  background: #3094e4 !important;
}
.sidebar.sidebar-skin-material-blue .datepicker table thead tr th.datepicker-switch:hover,
.sidebar.sidebar-skin-material-blue .datepicker table thead tr th.next:hover,
.sidebar.sidebar-skin-material-blue .datepicker table thead tr th.prev:hover {
  background: #3094e4;
}
.sidebar.sidebar-skin-material-blue .datepicker table tr td.day,
.sidebar.sidebar-skin-material-blue .datepicker table tr td .month,
.sidebar.sidebar-skin-material-blue .datepicker table tr td .year {
  color: #212121;
}
.sidebar.sidebar-skin-material-blue .datepicker table tr td.day.old,
.sidebar.sidebar-skin-material-blue .datepicker table tr td .month.old,
.sidebar.sidebar-skin-material-blue .datepicker table tr td .year.old {
  color: #ffffff;
}
.sidebar.sidebar-skin-material-blue .datepicker table tr td.day.active,
.sidebar.sidebar-skin-material-blue .datepicker table tr td .month.active,
.sidebar.sidebar-skin-material-blue .datepicker table tr td .year.active {
  background: #3094e4 !important;
  color: #ffffff;
}
.sidebar.sidebar-skin-material-blue .datepicker table tr td.day:hover,
.sidebar.sidebar-skin-material-blue .datepicker table tr td .month:hover,
.sidebar.sidebar-skin-material-blue .datepicker table tr td .year:hover {
  background: #e6e6e6;
}
.sidebar.sidebar-skin-material-blue .progress {
  background-color: #f2f2f2;
}
.sidebar.sidebar-skin-material-blue .badge {
  background: #ededed;
}
.sidebar.sidebar-skin-material-blue .nav-tabs {
  border-color: #ffffff;
}
.sidebar.sidebar-skin-material-blue .nav-tabs > li.active > a,
.sidebar.sidebar-skin-material-blue .nav-tabs > li.active > a:focus,
.sidebar.sidebar-skin-material-blue .nav-tabs > li.active > a:hover {
  border-color: #ffffff;
  background-color: #f5f5f5;
}
.sidebar.sidebar-skin-material-blue .list-about li {
  color: #212121;
}
.sidebar.sidebar-skin-material-blue .list-about li a {
  color: #212121;
}
.sidebar.sidebar-skin-material-blue .list-about li a:hover {
  color: #ffffff;
}
