<?php
    $uri = [];
    $uri = array_pop(preg_split('/\//', $_SERVER['REQUEST_URI']));

    $scriptName = array_pop(preg_split('/\//', $_SERVER['SCRIPT_NAME']));

    $menuArr = [
        'index.php' => 'index',
        'login.php' => 'login',
        'login-activated.php' => 'login activated',
        'forgot-password.php' => 'forgot password',
        'register.php' => 'register',
        'register-step2.php' => 'register step 2',
        'contacts.php' => 'contacts',
        'terms.php' => 'terms',
        'affiliate.php' => 'affiliate',
        'careers.php' => 'careers',
        'profile-fill-2.php' => 'profile fill step 2',
    ];
?>

<? if (isset($_GET['modal'])) : ?>
    <script>
        location.href = "<?= parse_url($_SERVER['REQUEST_URI'])['path'] . '#' . $_GET['modal'] ?>";
    </script>
<? endif; ?>


<select id="layout-nav" style="width: 200px;height:20px;margin:0;padding:0;font:12px/16px Arial, sans-serif;">
    <?php foreach ($menuArr as $link => $name) : ?>
        <option <?php if ($link == $uri) echo ' selected'; ?> value="<?= $link ?>"><?= $name ?></option>
    <?php endforeach; ?>
</select>

<script>
    (function () {
        if (!window.Modernizr) return;
        if (Modernizr.touch) {
            var nav = document.querySelector('#layout-nav');
            nav.style.fontSize = '50px';
            nav.style.lineHeight = '62px';
            nav.style.height = '62px';
        }
    })()
</script>

<script type="text/javascript">
    $('#layout-nav').change(function () {
        location.href = $(this).val();
    });
</script>
